body{
    background-color: rgb(92, 92, 92);
    background-color: rgb(78, 197, 206);
}

.div1{
    position: relative;
    background-color: honeydew;
    width: 40%;
    height: 30em;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.start__button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.start__button:hover{
    background-color: rgba(75, 75, 75, 0.74);
}

.math__quiz{
    width: 80%;
    background-color: rgb(218, 91, 91);
    height: 3em;
    text-align: center;
    line-height: 3em;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    margin-top: 0px;
}

.quiz__question{
    background-color: rgb(198, 205, 102);
    text-align: center;
    margin-left: 10px
}

.quiz__answer{
    background-color: white;
    height: 100px;
    width: 100%;
    margin: 3em;
}